h1 {
    color: $colour-secondary;
    margin-bottom: 0;
    margin-top: 2rem;
}

h2 {
    color: $colour-primary;
    font-weight: normal;
    margin-top: 0.4em;
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
